[submodule "external/taco"]
	path = external/taco
	url = https://github.com/kulinseth/taco.git
[submodule "bench/bindsnet"]
	path = bench/bindsnet
	url = https://github.com/BindsNET/bindsnet.git
[submodule "external/suite-sparse"]
	path = external/suite-sparse
	url = https://github.com/ScottKolo/suitesparse-matrix-collection-website.git
[submodule "external/csr5"]
	path = external/csr5
	url = https://github.com/bhSPARSE/Benchmark_SpMV_using_CSR5.git
